@model List<Extraclase.Models.Temas>


@{
    ViewBag.Title = "Seleccion";
    var listItems = ViewBag.list;
}


@using (Html.BeginForm("Seleccion", "Temas",FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-12">
            <fieldset>
                <legend>Seleccionar nivel</legend>
                <div class="editor-label">
                    <h2>Grado</h2>
                </div>
                <div class="editor-field">
                   @Html.DropDownList("Grado",
                        new[]
                        {
                            new SelectListItem{ Value = "1", Text = "1" },
                            new SelectListItem{ Value = "2", Text = "2" },
                            new SelectListItem{ Value = "3", Text = "3" },
                            new SelectListItem{ Value = "4", Text = "4" },
                            new SelectListItem{ Value = "5", Text = "5" },
                            new SelectListItem{ Value = "6", Text = "6" },                                        
                        },
                   "escoger grado", new { @class = "form-control" })
                </div>
                <div class="editor-label">
                    <h2>Materia</h2>
                </div>
                <div class="editor-field">
                    @Html.DropDownList("Materia",
                        new[]
                        {
                            new SelectListItem{ Value = "Español", Text = "Español" },
                            new SelectListItem{ Value = "Ciencias", Text = "Ciencias" },
                            new SelectListItem{ Value = "Matemáticas", Text = "Matemáticas" },
                            new SelectListItem{ Value = "Estudios Sociales", Text = "Estudios Sociales" },
                        },
                    "escoger materia", new { @class = "form-control" })
                </div>
                <br />
                <h2>@ViewBag.Message</h2>
                <br />
                <input type="submit" class="btn btn-primary" value="Aceptar" />
            </fieldset>
            <img src="~/fonts/Software-Solutions.png" alt="Sample Image" width="300px" />
        </div>
    </div>
}