@model List<Extraclase.Models.Temas>


@{
    ViewBag.Title = "Seleccion";
    var listItems = ViewBag.list;
}


@using (Html.BeginForm("Seleccion", "Temas",FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-12">
            <fieldset>
                <legend>Nivel</legend>
                <div class="editor-label">
                   
                </div>
                <div class="editor-field">         
 

                </div>
                <br />
                <div class="editor-label">
                    <h1>GRADOS</h1>
                </div>
                <div class="editor-field">

                   @Html.DropDownList("Grado",
                        new[]
                        {
                            new SelectListItem{ Value = "1", Text = "1" },
                            new SelectListItem{ Value = "2", Text = "2" },
                            new SelectListItem{ Value = "3", Text = "3" },
                            new SelectListItem{ Value = "4", Text = "4" },
                            new SelectListItem{ Value = "5", Text = "5" },
                            new SelectListItem{ Value = "6", Text = "6" },
                                        
                        },
                    "escoger opción", new { @class = "form-control" })
 
                </div>
                <br />
                <input type="submit" class="btn btn-primary" value="Aceptar" />
            </fieldset>
        </div>
    </div>
}